.app {
  height: 100%;
  display: grid;
  grid-template:
    "friends messages" 1fr
    "friends input" auto
    / minmax(min-content, auto) minmax(min-content, 800px);
  gap: 20px;
  padding: 20px;
  background-color: var(--c-tertiary);
  justify-content: center;

  &__input {
    grid-area: input;
  }

  &__friends {
    grid-area: friends;
    border-radius: var(--br);
    background-color: var(--c-primary);
    overflow: hidden;
  }

  &__messages {
    grid-area: messages;
    border-radius: var(--br);
    background-color: var(--c-primary);
    overflow: hidden;
  }
}
