@keyframes up-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}

.messages-area {
  display: grid;
  height: 100%;
  padding: 10px;
  overflow-y: auto;
  align-content: start;
  justify-items: start;
  color: var(--c-text-secondary);

  &__message {
    background: var(--c-orange-8);
    padding: 10px 20px;
    color: var(--c-text-primary);
    animation: up-in var(--delay-long) backwards;

    &--from-me {
      background: var(--c-purple-8);
      justify-self: end;
    }

    &--from-me + &--from-them,
    &--from-them + &--from-me,
    &:first-child {
      border-top-left-radius: var(--br);
      border-top-right-radius: var(--br);
    }

    &--from-me:has(+ #{&}--from-them),
    &--from-them:has(+ #{&}--from-me),
    &:last-child {
      border-bottom-left-radius: var(--br);
      border-bottom-right-radius: var(--br);
    }

    &--from-me + &--from-them,
    &--from-them + &--from-me {
      margin-top: 20px;
    }

    &--from-me {
      border-bottom-right-radius: 0 !important;
    }
    &--from-them {
      border-bottom-left-radius: 0 !important;
    }
  }
}
